body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto; 
}

main, footer {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: #222;
}

header a:hover {
    color: rgb(201, 210, 255);
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

section.hero {
    text-align: center;
}

section.hero h1 {
    margin: 0;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.9);
}

section.hero h2 {
    margin: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

section.motto {
    text-align: center;
}

section.motto h2 {
    margin: 0;
    padding: 0px;
    margin-top: 80px;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.500);
}

main {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.grid {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width:600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d9d9d9;
}

section.indi {
    text-align: center;
}

section.indi p {
    margin: 0;
    padding: 0px 20px 4px 20px;
}

footer p {
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
}

@media (max-width: 400px) { 
    header {
        flex-direction: column;
        gap: 10px;
    }
}
